.introduction {
    display: flex;
    background-color: blue;
    padding: 20px;
}

.introduction img {
    max-width: 300px;
    object-fit: cover;
    margin-right: 20px;
}

.project-container {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.project-screenshot {
    background-color: rgb(122, 122, 122);
    height: 200px;
}

.project-card {
    background-color: white;
}

.project-description {
    padding: 0 10px 0 10px;
}

.footer {
    display: flex;
    background-color: green;
    padding: 20px;
}

.footer img {
    max-width: 300px;
    object-fit: cover;
    margin-left: 20px;
}