main {
    background-image: url("img/radiant-gradient.svg");
    background-size: cover;
}

.introduction {
    display: flex;
    padding: 20px 40px 20px 40px;
}

.introduction>img {
    max-width: 500px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.introduction-text {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    margin: 30px 0 30px 0;
    background-color: white;

}


.icons {
    display: flex;
    justify-content: end;
}

.icons>img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    transition: transform .1s;
}

.icons>img:hover {
    transform: scale(1.1);
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

.project-screenshot {
    background-color: rgb(122, 122, 122);
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.project-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .1s;
}

.project-card:hover {
    transform: translate(0, -5px);
}

.project-description {
    padding: 0 20px 40px 20px;
}

.project-description>div {
    display: flex;
    justify-content: space-between;
}

.card-icons {
    margin-left: 10px;
    display: flex;
    padding: 18px 0 18px 0;
}

.card-icons>img {
    width: 30px;
    height: 30px;
    transition: transform .1s;
}

.card-icons>img:hover {
    transform: scale(1.1);
}

.footer {
    display: flex;
    background-color: rgb(175, 0, 58);
    padding: 20px 40px 20px 40px;
}

.footer>img {
    max-width: 300px;
    object-fit: cover;
    margin-left: 20px;
}

body {
    margin: 0;
}

.footer>div>p {
    color: white;
}

.footer>div>h2 {
    color: white;
}

@media only screen and (max-width: 1000px) {
    .introduction>img {
        max-width: 400px;
    }

    .introduction-text {
        margin: 0px;
    }

    .introduction>img {
        border-radius: 10px 0 0 10px;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer>img {
        max-width: 400px;
    }
}

@media only screen and (max-width: 800px) {
    .introduction>img {
        max-width: 100%;
    }

    .introduction-text {
        margin: 0px;
    }

    .introduction>img {
        border-radius: 0;
    }

    .project-container {
        grid-template-columns: repeat(1, minmax(0, 500px));
        gap: 20px;
        padding: 20px;
    }

    .introduction {
        flex-direction: column;
        padding: 0;
        margin-bottom: 40px;
    }

    .footer {
        flex-direction: column;
        padding: 0;
    }

    .footer>img {
        max-width: 100%;
        object-fit: cover;
        border-radius: 0px;
        margin: 0;
    }

    .footer>div {
        padding: 0 20px 0 20px;
    }

    main {
        padding-bottom: 100px;
    }
}